/* ----- Contents of this file: -----
 *  |basic layout| 
 *  |colors and typography| 
 */

/* Avoids counter-intuitive box size changes as per 
   https://css-tricks.com/box-sizing/ */

html {
    box-sizing: border-box;
    background-color: #F9F9F9;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}


/*  |basic layout| */

body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
    header {
        margin: 1em 0 0.2em 0;
    }

    .score-message {
        margin: 1em 0 1.2em 0;
    }
    .gameboard-container {
        width:300px;
        height:300px;
        display: grid;
        grid-gap: 13px;
        grid-template-columns: repeat(3, 1fr);
      }
      .cell {
          display: flex;
          align-items: center;
          justify-content: center;
      }
      .cell-content {
          display: flex;
          align-items: center;
          justify-content: center;
      }
      
    .restart-btn {
        margin: 1em 0 1em 0;
        padding: 0.5em 1em 0.5em 1em;
    }

/*  |colors and typography|  */
body {
    font-family: 'Catamaran', Tahoma, sans-serif;
    color: #113A5D;
}

header {
    font-family: 'Kaushan Script', cursive;
    font-size: 2.5rem;
    line-height: 1.3;
    color: #FF7A8A;
}

.score-message {
    font-size: 1.5rem;
}

.gameboard-container {
        border: solid 13px #113A5D;
        border-radius: 8px;
        background-color: #113A5D;
    }
    
    .cell {
        background-color: #F9F9F9;
        border-radius: 5px;
    }
    .cell-content {
        width: 75px;
        height: 75px;
        color: #113A5D;
        font-size: 3rem;
    }

.restart-btn {
    background-color: #113A5D;
    border: none;
    border-radius: 6px;
    color: #F9F9F9;
    font-family: 'Catamaran', Tahoma, sans-serif;
    font-size: 1.2rem;
    padding: 0.5em 1.5em 0.5em 1.5em;
    font-weight: 600;
}

.empty:focus {
    background-color: #ece8e6;
}
.empty:hover {
    background-color: #ece8e6;
}
.restart-btn:hover {
    background-color: #1c5485;
}
.restart-btn:focus {
    background-color: #1c5485;
    border: solid 3px #FF7A8A;
    outline: none;
}
.restart-btn:active {
    background-color: #1c5485;
    border: solid 3px #FF7A8A;
    outline: none;
}